In [62]:
import pandas as pd

In [63]:
suicide_df = pd.read_csv('who_suicide_statistics.csv')

country_df = pd.read_csv('country_codes.csv')
iso_code_df = country_df[["name", "iso_3166-2"]]

print("Suicide Statistics Dataframe")
print(suicide_df.head())
print("\n Country ISO Code Dataframe")
print(iso_code_df.head())

Suicide Statistics Dataframe
   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

 Country ISO Code Dataframe
             name     iso_3166-2
0     Afghanistan  ISO 3166-2:AF
1   Åland Islands  ISO 3166-2:AX
2         Albania  ISO 3166-2:AL
3         Algeria  ISO 3166-2:DZ
4  American Samoa  ISO 3166-2:AS

In [64]:
# check if and where there's null values
suicide_df.isnull().sum()

country           0
year              0
sex               0
age               0
suicides_no    2256
population     5460
dtype: int64

In [65]:
# remove rows with null values 
suicide_df.dropna(inplace=True)

In [66]:
# group data by country, compute mean for each country
grouped_by_country = suicide_df.groupby("country")

suicide_avg_df = grouped_by_country["suicides_no"].mean().reset_index()
suicide_avg_df.rename(columns={'suicides_no': 'avg_suicide_no'}, inplace=True)

print("Average Suicide Nº by Country")
print(suicide_avg_df.head())

Average Suicide Nº by Country
               country  avg_suicide_no
0              Albania        7.462121
1  Antigua and Barbuda        0.032738
2            Argentina      211.400901
3              Armenia        6.307292
4                Aruba        0.500000

In [69]:
# merge suicide average df with ISO codes df in order to identify each country by it's ISO code (alpha-3)
suicide_avg_df = suicide_avg_df.merge(iso_code_df, left_on='country', right_on='name', how='left')
suicide_avg_df.drop(columns=['name'], inplace=True)
suicide_avg_df = suicide_avg_df[['country', 'iso_3166-2', 'avg_suicide_no']]
suicide_avg_df

                                country     iso_3166-2  avg_suicide_no
0                               Albania  ISO 3166-2:AL        7.462121
1                   Antigua and Barbuda  ISO 3166-2:AG        0.032738
2                             Argentina  ISO 3166-2:AR      211.400901
3                               Armenia  ISO 3166-2:AM        6.307292
4                                 Aruba  ISO 3166-2:AW        0.500000
..                                  ...            ...             ...
101                United Arab Emirates  ISO 3166-2:AE        8.638889
102            United States of America  ISO 3166-2:US     2705.858108
103                             Uruguay  ISO 3166-2:UY       36.987374
104                          Uzbekistan  ISO 3166-2:UZ      126.617816
105  Venezuela (Bolivarian Republic of)  ISO 3166-2:VE       76.833333

[106 rows x 3 columns]