In [460]:
import pandas as pd

In [461]:
suicide_df = pd.read_csv('who_suicide_statistics.csv')

country_df = pd.read_csv('iso-country-codes.csv')
iso_code_df = country_df[["English short name lower case", "Alpha-3 code"]]

print("Suicide Statistics Dataframe")
print(suicide_df.head())
print("\n Country ISO Code Dataframe")
print(iso_code_df.head())

Suicide Statistics Dataframe
   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

 Country ISO Code Dataframe
  English short name lower case Alpha-3 code
0                      Zimbabwe          ZWE
1                        Zambia          ZMB
2                         Yemen          YEM
3                Western Sahara          ESH
4             Wallis and Futuna          WLF

In [462]:
# check if and where there's null values
suicide_df.isnull().sum()

country           0
year              0
sex               0
age               0
suicides_no    2256
population     5460
dtype: int64

In [463]:
# replace null values with 0 (could drop row entirely)
suicide_df["suicides_no"] = suicide_df["suicides_no"].fillna(0)
suicide_df["population"] = suicide_df["population"].fillna(0)
suicide_df.isnull().sum()

country        0
year           0
sex            0
age            0
suicides_no    0
population     0
dtype: int64

In [464]:
# group data by country, compute mean for each country
grouped_by_country = suicide_df.groupby("country")
suicide_avg_df = grouped_by_country["suicides_no"].mean().reset_index()
suicide_avg_df.rename(columns={'suicides_no': 'avg_suicide_no'}, inplace=True)

print("Average Suicide Nº by Country")
print(suicide_avg_df.head())

#suicide_df = suicide_df.merge(suicide_avg_df, on="country", suffixes=("", "_avg"))
#suicide_df.rename(columns={'suicides_no_avg': 'avg_suicides_per_country'}, inplace=True)
#suicide_df.head()

Average Suicide Nº by Country
               country  avg_suicide_no
0              Albania        5.295699
1             Anguilla        0.005747
2  Antigua and Barbuda        0.032738
3            Argentina      211.400901
4              Armenia        5.766667

In [465]:
#suicide_df = suicide_df.merge(iso_code_df[['English short name lower case', 'Alpha-3 code']], left_on='country', right_on='English short name lower case', how='left')
#suicide_df.head()

# merge suicide average df with ISO codes df in order to identify each country by it's ISO code (alpha-3)
suicide_avg_df = suicide_avg_df.merge(iso_code_df, left_on='country', right_on='English short name lower case', how='left')
suicide_avg_df.drop(columns=['English short name lower case'], inplace=True)
suicide_avg_df = suicide_avg_df[['country', 'Alpha-3 code', 'avg_suicide_no']]
suicide_avg_df

                                country Alpha-3 code  avg_suicide_no
0                               Albania          ALB        5.295699
1                              Anguilla          AIA        0.005747
2                   Antigua and Barbuda          ATG        0.032738
3                             Argentina          ARG      211.400901
4                               Armenia          ARM        5.766667
..                                  ...          ...             ...
136                             Uruguay          URY       35.899510
137                          Uzbekistan          UZB      122.397222
138  Venezuela (Bolivarian Republic of)          NaN       76.833333
139                Virgin Islands (USA)          NaN        0.470833
140                            Zimbabwe          ZWE       63.666667

[141 rows x 3 columns]